<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282001161297-tu1tcupi2ko8k87qqhhircmhv3ipdgur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282001161297-tu1tcupi2ko8k87qqhhircmhv3ipdgur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282001161297-53qm83885gj3brevl8dtm4l7rs7mra0p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwbeDo1C4DCVFRtKEWk42TSCUNt0hjalU</string>
	<key>GCM_SENDER_ID</key>
	<string>282001161297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toannmFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gapo-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gapo-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282001161297:ios:3edeea0a2bfecbb33a8c70</string>
	<key>DATABASE_URL</key>
	<string>https://gapo-test-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>